@import "../../variables.scss";

.definitions-box {
  display: flex;
  min-height: 100px;

  @media (max-width: $screen-width-min) {
    display: block;
    min-height: auto;
  }

  .definitions-tabs {
    max-height: 250px;
    border-right: 1px;
    border-color: #BEBEBE;
    overflow: visible;

    @media (max-width: $screen-width-min) {
      height: auto;
      border: none;
    }

    .definitions-tab {
      font-size: $size8;
      text-align: left;
      align-items: flex-start;
      max-width: 700px;
      width: 40vw;

      @media (max-width: $screen-width-mid) {
        font-size: $size9;
        padding: $pad6;
      }
      @media (max-width: $screen-width-min) {
        font-size: $size10;
        width: 100%;
        padding: $pad6;
      }
    }
  }
}





