body {
  padding: 0;
  padding-top: 88px;
  margin: 0;
}

.app-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-logo {
  width: 400px;
  margin: 20px 0;
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 84px;
  }

  .app-logo {
    width: 300px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 76px;
  }

  .app-logo {
    width: 200px;
    margin: 10px 0;
  }
}