.error-container {
  position: relative;
}

.error-container h1 {
  margin-top: 15vh;
}

.error-container .error-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 430px;
}

.error-image img {
  height: 430px;
}

@media screen and (max-width: 900px) {
  .error-image img {
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .error-container h1 {
    margin-top: 0;
    text-align: center;
  }

  .error-container .error-image {
    position: static;
    width: fit-content;
    margin: 0 auto;
  }
}