.app-logo.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.app-logo {
  height: 310px;
}

@media screen and (max-width: 900px) {
  .app-logo.container {
    height: 230px;
    margin: 15px 0;
  }

  .app-logo {
    height: 230px;
  }
}

@media screen and (max-width: 600px) {
  .app-logo.container {
    height: 150px;
    margin: 10px 0;
  }

  .app-logo {
    height: 150px;
  }
}