$regular: 400;
$bold: 700;
$extra-bold: 900;

$mar1: 30px;
$mar2: 25px;
$mar3: 20px;
$mar4: 15px;
$mar5: 10px;
$mar6: 5px;

$mar-sub1: 16px;
$mar-sub2: 12px;
$mar-sub3: 8px;
$mar-sub4: 4px;

$pad1: 30px;
$pad2: 25px;
$pad3: 20px;
$pad4: 15px;
$pad5: 10px;
$pad6: 5px;

$pad-sub1: 16px;
$pad-sub2: 12px;
$pad-sub3: 8px;
$pad-sub4: 4px;

$size1: 60px;
$size2: 50px;
$size3: 40px;
$size4: 32px;
$size5: 24px;
$size6: 18px;
$size7: 16px;
$size8: 14px;
$size9: 12px;
$size10: 10px;

$opacity-hover: .8;
$opacity-active: .6;

$logo-height-max: 310px;
$logo-height-mid: 230px;
$logo-height-min: 150px;

$screen-width-mid: 900px;
$screen-width-min: 600px;